@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::after,
::before {
  box-sizing: border-box;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
.slick-next:before,
.slick-prev:before {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: rgb(86, 86, 86);
}
.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-primary {
  @apply bg-blue-500 text-white;
}
.btn-primary:hover {
  @apply bg-blue-700;
}
.btn-xl {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
